<link rel="stylesheet" href="display-movie.component.css">
<p class="info">display-movie works!</p>

ID:<input type="number" id="movie_id" [(ngModel)]="id" />
<button (click)="get()">Get</button>

<div class="container">
<div *ngFor="let movie of movies; let i = index" class='movies'>
  <p><b>id:</b> {{movie.id}} </p>
  <p><b>title:</b> {{movie.title}} </p>
  <p><b>type:</b> {{movie.type}} </p>
  <p><b>director:</b> {{movie.director}} </p>
  <p><b>duration:</b> {{movie.duration}} </p>
  <p><b>rating:</b> {{movie.rating}} </p>
  <p><b>description:</b> {{movie.description}} </p>
  <p><b>actors:</b> {{movie.actors}} </p>
  <p><b>dateAdded:</b> {{movie.dateAdded}} </p>

  <button (click)="delete(movie.id, i)">Delete</button>
  <button type="button" [routerLink]="['/movies/form',movie.id]" >Edit</button>

  <br/>
</div>


</div>




